<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>horoscopo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horoscopo</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Piscis</h1>
 Tienes que superar hoy mismo, Piscis, esa tendencia que tienes a diario en los últimos tiempos a quedarte bloqueada ante los problemas. Desmoralizarte o quejarte no te va a servir absolutamente de nada. Cuando surja un contratiempo, antes de darlo todo por perdido, reflexiona con calma. Tómate el tiempo necesario hasta que veas claramente el camino a tomar. Si a pesar de todo no optas por la decisión correcta, no lo consideres un error sino una experiencia que te ayudará a avanzar. Aprenderás mucho más  que si te quedas de brazos cruzados esperando que las cosas se arreglen por inercia. La  jornada de hoy será intensa, Piscis, procura afrontarla con el ánimo en alto y la visión más positiva que tengas. Si alguien te debe dinero, no cuentes hoy todavía con él, pero sigue recordándole a diario la deuda a esa persona que se está columpiando.

</ion-content>
