<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info-multas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">info-multas</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Multas de Transito en Republica Dominicana</h2>
  <ul>
    <li>Sin licencia (ART 29) - <b>RD$1,000.00</b></li>
    <li>Licencia vencida (ART 40-41) - <b>RD$1,000.00</b></li>
    <li>No portar licencia (ART 47-7) - <b>RD$1,000.00</b></li>
    <li>Sin marbete de seguro (ART 146/02) - <b>RD$1,000.00</b></li>
    <li>Sin matrícula (ART 27-3) - <b>RD$1,000.00</b></li>
    <li>Sin placa (ART 27-4) - <b>RD$1,000.00</b></li>
    <li>Sin revista (art 110) - <b>RD$1,000.00</b></li>
    <li>Sin tablilla (ART 1 LEY513) - <b>RD$1,000.00</b></li>
    <li>Sin casco (ART 135C) - <b>RD$1,000.00</b></li>
    <li>Pirata no rotuló (ART 33-77) - <b>RD$1,000.00</b></li>
    <li>Obstrucción al tránsito (ART 88) - <b>RD$1,000.00</b></li>
    <li>Sitio (zona) prohibido (ART 81) - <b>RD$1,000.00</b></li>
    <li>Señales de tránsito (ART 97) - <b>RD$1,000.00</b></li>
    <li>Violar señal de pare (ART 97-A) - <b>RD$1,000.00</b></li>
    <li>Viraje en u (ART 76-C) - <b>RD$1,000.00</b></li>
    <li>Una placa (ART 27-22) - <b>RD$1,000.00</b></li>
    
    <li>Uso distinto de matricula (ART 27-2) - <b>RD$1,000.00</b></li>
    <li>Color distinto de matricula (ART 27-27) - <b>RD$1,000.00</b></li>
    <li>Personas sobre la carga (ART 174) - <b>RD$1,000.00</b></li>
    <li>Ruido (ART 162) - <b>RD$1,000.00</b></li>
    <li>Ceder paso vehículo emergencia (ART 74-H) - <b>RD$1,000.00</b></li>
    <li>No exhibir la placa en su lugar (ART 27-4) - <b>RD$1,000.00</b></li>
   <li> Luz delantera apagada (ART 144) - <b>RD$1,000.00</b></li>
    <li>Luz trasera (ART 145) - <b>RD$1,000.00</b></li>
    <li>Espejo retrovisor (ART 158) - <b>RD$1,000.00</b></li>
    <li>Extinguidor (ART 164-B) - <b>RD$1,000.00</b></li>
    <li>Botiquín (ART 164 AP 200) - <b>RD$1,000.00</b></li>
    <li>Bandera roja (ART 171 A-3) - <b>RD$1,000.00</b></li>
    <li>Plataforma y timbre (ART 173-G) - <b>RD$1,000.00</b></li>
    <li>Peón (ART 173-D) - <b>RD$1,000.00</b></li>
    <li>Expiración permiso extranjero - <b>RD$1,000.00</b></li>
    <li>Triángulo (ART 164-D) - <b>RD$1,000.00</b></li>
    <li>Placa exhibición vencida - <b>RD$1,000.00</b></li>
    <li>Ventas vías publicas (ART 130 LEY 241) - <b>RD$1,000.00</b></li>
    <li>Lanzar desperdicios en vías publicas (ART 130) - <b>RD$1,000.00</b></li>
    <li>Velocidad muy reducida (ART 62) - <b>RD$1,000.00</b></li>
    <li>Guía a la izquierda (ART 5) - <b>RD$1,000.00</b></li>
    <li>Actos prohibidos (ART 27 Y 47) - <b>RD$1,000.00</b></li>
    <li>Multas anteriores - <b>RD$530.00</b></li>
    <li>Multas anteriores - <b>RD$884.00</b></li>
    <li>Sin cinturón (ART 161) - <b>RD$1,667.00</b></li>
    <li>Luz roja (ART 96-B-1) - <b>RD$1,667.00</b></li>
    <li>Uso del celular (ART 1 ley 143-01) - <b>RD$1,667.00</b></li>
    <li>Niños menores en el asiento delantero (ART 106) - <b>RD$1,667.00</b></li>
  </ul>
</ion-content>
